.footer {
  color: #fff;
  background-color: #3f72af;
  position: absolute;
  width: 100%;

}

#footer{
  margin: auto;
  width: 80%;
  top: 30%;
  padding: 30px 0px 0px 0px;
  text-align: left;
}

#footer a{
  color: inherit;
}

#rowFooter p, a {  
  font-size: 25px;
  text-align: left;
}
